<div class='w-100 m-0' id="pageTop">
    <div class="header-container">
        <!-- Title -->
        <h1>
            Page Search
        </h1>
        <!-- Search box -->
        <div class="search-bar-wrapper">
            <div class="search-icon-wrapper" (click)="onSearchInput()" (keydown)="onSearchIconKeyDown($event)">
                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 24 24" fill="none"
                    stroke="#0e0e01" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="11" cy="13" r="7" stroke-width="1.5"></circle>
                    <line x1="1" y1="23" x2="6" y2="18.5" stroke="#0e0e01" stroke-width="1.5"></line>
                </svg>
            </div>
            <div class="input-wrapper">
                <label for="searchInput">Search</label>
                <input #searchInput id="searchInput" type="text" placeholder="Search..." [formControl]="searchControl"
                    (focus)="onSearchInput(true)" (input)="onSearchInput()" />
                <span class="b-bottom" [class.visible]="isBorderVisible"></span>
            </div>
        </div>
        <span *ngIf="keyword === ''">Please enter a letter/word to search for a work or news</span>
        <span *ngIf="keyword.length > 0">Searching for page titles that include keyword &lsquo;{{ keyword
            }}&rsquo;</span>
    </div>

    <!-- Sorting buttons -->
    <div class="sort-button-container">
        <button class="sort-button" (click)="sortResults('project')"
            [ngClass]="{'selected': selectedFilter === 'project'}">
            Projects
            <i class="bi"
                [ngClass]="{'bi-chevron-down': selectedFilter !== 'project', 'bi-x': selectedFilter === 'project'}"></i>
        </button>
        <button class="sort-button" (click)="sortResults('blog')" [ngClass]="{'selected': selectedFilter === 'blog'}">
            Blog content
            <i class="bi"
                [ngClass]="{'bi-chevron-down': selectedFilter !== 'blog', 'bi-x': selectedFilter === 'blog'}"></i>
        </button>
    </div>
    <span class="separator"></span>

    <!-- Display search results -->
    <!-- all results -->
    <section *ngIf="selectedFilter === 'all'">
        <ul>
            <li *ngFor="let result of searchResults">
                <div class="image-wrapper">
                    <img [src]="result.thumbnail_image.url" alt="">
                </div>
                <div class="right-wrapper">
                    <div class="info-wrapper">
                        <div>
                            <p class="category">
                                {{ ['Software', 'Website', 'App', 'Design'].includes(result.type) ? 'Work' : 'News' }}
                                &nbsp;&middot;&nbsp;{{ result.type }}
                            </p>
                            <p class="title">{{ result.title }}</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>


    <!-- If clicking the "project" sort button -->
    <app-project-search-result *ngIf="selectedFilter === 'project'"></app-project-search-result>

    <!-- If clicking the "article" sort button -->
    <app-article-search-result *ngIf="selectedFilter === 'blog'"></app-article-search-result>
</div>