h1 {
    margin: 90px 0 60.75px 105px;
    height: 46px;
}

.sort-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .sort-button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0e0e01;
        padding: 0;
        margin: 0 15px 3px 120px;
        border: none;
        background-color: transparent;
        font-family: 'Larsseit' !important;
        font-size: 1.5rem;

        &.selected,
        &:hover {
            color: #a8a8a8;
        }

        .bi-chevron-down {
            font-size: 1.5rem;
            margin-left: 5px;
            padding-top: 5px;
            transition: transform 0.1s ease;
        }

        .bi-arrow-right-short {
            font-size: 1.5rem;
            margin-left: 2.2px;
            margin-right: -4.5px;
            padding-top: 5px;
            transition: transform 0.1s ease;
        }

        &:hover .bi-chevron-down {
            color: #a8a8a8;
        }

        &:hover .bi-arrow-right-short {
            color: #a8a8a8;
        }

        .bi-x {
            color: #a8a8a8;
            font-size: 1.5rem;
            margin-left: 5px;
            padding-top: 5px;
        }
    }
}

.custom-gutter {
    padding: 20px 0 0;
    margin: 0 0 105px 0;
    row-gap: 15px;

    .col {
        padding: 0 15px 0 0;
        margin: 0;

        &:first-child {
            padding-left: 15px !important;
        }

        &:nth-child(3n + 1) {
            padding-left: 15px !important;
        }
    }
}

.invisible {
    display: none;
}

.selected-industry-title {
    font-family: 'Larsseit-500' !important;
    font-size: 2.25rem;
    color: #000000;
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 77px 0 47px;
}

.back-to-industry-button {
    height: 25px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #0e0e01;
    margin-left: 15px;
    padding: 0;
    border: none;
    background-color: transparent;
    font-family: 'Larsseit' !important;
    font-size: 1.5rem;
    border-bottom: 1.5px solid #0e0e01;

    i {
        font-size: 2rem;
        margin-left: -6px;
        transition: transform 0.1s ease;
    }

    &:hover {
        color: #a8a8a8;
    }

    &:hover .bi-arrow-left-short {
        color: #a8a8a8;
    }
}

.separator {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #0e0e01;
    margin: 0;
}

.footer-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .footer-button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0e0e01;
        padding: 0;
        margin: 0 9px 1.7px 120px;
        border: none;
        background-color: transparent;
        font-family: 'Larsseit-500' !important;
        font-size: 1.75rem;

        .bi-arrow-down-short {
            font-size: 2rem;
            margin-left: 0.5px;
            padding-top: 5px;
            transition: transform 0.1s ease;
        }

        &:hover {
            color: #a8a8a8;
        }

        &:hover .bi-arrow-down-short {
            color: #a8a8a8;
        }
    }
}

@media screen and (max-width: 768px) {
    h1 {
        margin: 90px 0 60px 15px;
        height: 46px;
    }

    .sort-button-container {
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .sort-button {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #0e0e01;
            padding: 0;
            margin: 0 15px 0px 20px;
            border: none;
            background-color: transparent;
            font-family: 'Larsseit' !important;
            font-size: 1rem;

            &.selected,
            &:hover {
                color: #a8a8a8;
            }

            .bi-chevron-down {
                font-size: 1rem;
                margin-left: 5px;
                padding-top: 5px;
                transition: transform 0.1s ease;
            }

            .bi-arrow-right-short {
                font-size: 1.5rem;
                margin-left: 2.2px;
                margin-right: -4.5px;
                padding-top: 5px;
                transition: transform 0.1s ease;
            }

            &:hover .bi-chevron-down {
                color: #a8a8a8;
            }

            &:hover .bi-arrow-right-short {
                color: #a8a8a8;
            }

            .bi-x {
                color: #a8a8a8;
                font-size: 1.5rem;
                margin-left: 5px;
                padding-top: 5px;
            }
        }
    }

    .custom-gutter {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding-top: 15px;
        padding-left: 15px !important;
        padding-right: 15px !important;

        .col {
            width: 100%;
            padding: 0 !important;
            margin: 0 !important;
            cursor: pointer;
        }
    }

    .invisible {
        display: none;
    }

    .selected-industry-title {
        font-family: 'Larsseit-500' !important;
        font-size: 1.5rem;
        color: #000000;
        margin: 0;
        width: 100%;
        text-align: center;
        padding: 77px 0 47px;
    }

    .back-to-industry-button {
        height: 25px;
        display: flex;
        justify-content: start;
        align-items: center;
        color: #0e0e01;
        margin-left: 15px;
        padding: 0;
        border: none;
        background-color: transparent;
        font-family: 'Larsseit' !important;
        font-size: 1.25rem;
        border-bottom: 1.5px solid #0e0e01;

        i {
            font-size: 1.75rem;
            margin-left: -6px;
            transition: transform 0.1s ease;
        }

        &:hover {
            color: #a8a8a8;
        }

        &:hover .bi-arrow-left-short {
            color: #a8a8a8;
        }
    }

    .separator {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #0e0e01;
        margin: 0;
    }

    .footer-button-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .footer-button {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #0e0e01;
            padding: 0;
            margin: 0 9px 1.7px 120px;
            border: none;
            background-color: transparent;
            font-family: 'Larsseit-500' !important;
            font-size: 1.5rem;

            .bi-arrow-down-short {
                font-size: 2rem;
                margin-left: 0.5px;
                padding-top: 5px;
                transition: transform 0.1s ease;
            }

            &:hover {
                color: #a8a8a8;
            }

            &:hover .bi-arrow-down-short {
                color: #a8a8a8;
            }
        }
    }
}