.share-button-wrapper {
    width: auto;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .share-button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0e0e01;
        padding: 0;
        margin: 0 6px 1.7px 120px;
        border: none;
        background-color: transparent;
        font-family: 'Sohne-500' !important;
        font-size: 1.75rem;

        i {
            font-size: 2rem;
            margin-left: 5px;
            padding-top: 4px;
            transition: transform 0.1s ease;
        }

        &:hover {
            color: #a8a8a8;
        }

        &:hover .bi-arrow-right-short {
            color: #a8a8a8;
        }
    }
}

@media screen and (max-width: 768px) {
    .share-button-wrapper {
        width: auto;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .share-button {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #0e0e01;
            padding: 0;
            margin: 0 6px 1.7px 120px;
            border: none;
            background-color: transparent;
            font-family: 'Sohne-500' !important;
            font-size: 1.75rem;

            i {
                font-size: 2rem;
                margin-left: 5px;
                padding-top: 4px;
                transition: transform 0.1s ease;
            }

            &:hover {
                color: #a8a8a8;
            }

            &:hover .bi-arrow-right-short {
                color: #a8a8a8;
            }
        }
    }
}