<div class='w-100 m-0' id="pageTop">
    <!-- Header -->
    <section class="header-container">
        <div class="title-wrapper">
            <p class="header-title">{{ currentService?.title }}</p>
            <div class="contact-link-wrapper">
                <p class="link">Enquire about {{ getArticleForTitle(currentService?.title) }} {{ currentService?.title |
                    lowercase }} project</p>
                <i class="bi bi-arrow-up-short"></i>
            </div>
        </div>
        <div class="image-cover">
            <ng-container *ngIf="!(isLoading$ | async); else imageSkeleton">
                <img [src]="currentService?.image" alt="service-header">
            </ng-container>
            <ng-template #imageSkeleton>
                <app-service-header-skeleton></app-service-header-skeleton>
            </ng-template>
        </div>
        <div class="service-explanation-wrapper">
            <p class="title">What is {{ getFormattedTitle(currentService?.title) }} development?</p>
            <p class="explanation">{{ currentService?.explanation }}</p>
        </div>
    </section>

    <!-- Benefits -->
    <section *ngIf="currentService" class="capabilities-container">
        <p class="header-title">The benefits</p>
        <div class="row row-cols-2 row-cols-md-2">
            <div *ngFor="let benefit of currentService.benefits" class="col benefit-detail-container">
                <div class="icon-cover">
                    <img src="../../../../assets/images/connection.svg" alt="connection icon">
                </div>
                <div class="description-cover">
                    <p class="process-title">{{ benefit.title }}</p>
                    <p class="process-description">{{ benefit.description }}</p>
                </div>
            </div>
        </div>

        <div class="footer-button-wrapper">
            <app-start-project-button></app-start-project-button>
        </div>
    </section>

    <!-- Our technologies -->
    <section class="technologies-container">
        <div class="header-wrapper">
            <h1>{{ 'service.technologies.title' | translate }}</h1>
            <p class="sub-header">
                {{ 'service.technologies.sub-title-L1' | translate }}<br />
                {{ 'service.technologies.sub-title-L2' | translate }}
            </p>
        </div>
        <div class="logo-container">
            <div class="row row-cols-5">
                <div class="col">
                    <img src="../../../assets/images/strapi-logo.svg" alt="strapi-logo">
                </div>
                <div class="col">
                    <img src="../../../assets/images/firebase-logo.svg" alt="firebase-logo">
                </div>
                <div class="col">
                    <img src="../../../assets/images/strapi-logo.svg" alt="strapi-logo">
                </div>
                <div class="col">
                    <img src="../../../assets/images/firebase-logo.svg" alt="firebase-logo">
                </div>
                <div class="col">
                    <img src="../../../assets/images/strapi-logo.svg" alt="strapi-logo">
                </div>
                <div class="col">
                    <img src="../../../assets/images/strapi-logo.svg" alt="strapi-logo">
                </div>
                <div class="col">
                    <img src="../../../assets/images/firebase-logo.svg" alt="firebase-logo">
                </div>
                <div class="col">
                    <img src="../../../assets/images/strapi-logo.svg" alt="strapi-logo">
                </div>
                <div class="col">
                    <img src="../../../assets/images/firebase-logo.svg" alt="firebase-logo">
                </div>
                <div class="col">
                    <img src="../../../assets/images/strapi-logo.svg" alt="strapi-logo">
                </div>
            </div>
        </div>
    </section>
    <!-- Selected custom software projects -->
    <section class="selected-projects-container">
        <h1>Selected custom software projects</h1>
        <div *ngIf="projectsByServiceType$ | async as projects">
            <div *ngIf="projects.length > 0; else noProjects">
                <app-project-card [projects]="projects.slice(0, 3)"></app-project-card>
            </div>
            <ng-template #noProjects>
                <p>No projects found for this service.</p>
            </ng-template>
        </div>
    </section>
    <div class="footer-button-wrapper">
        <app-more-project-button></app-more-project-button>
    </div>
</div>