section {
    width: 100%;

    p {
        margin: 0;
        font-family: 'Sohne' !important;
        font-size: 1.5rem;
        color: #0e0e01;
    }

    .header-title {
        font-family: 'Larsseit-500' !important;
        font-size: 2.25rem;
        color: #000000;
    }
}

.header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 80px 105px 0 105px;
    border-bottom: 2px solid #000000;

    .title-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        margin: 0 0 47px 0;

        .contact-link-wrapper {
            height: 30px;
            display: flex;
            justify-content: start;
            align-items: start;
            text-align: right;
            cursor: pointer;
            padding-bottom: -30px;
            border-bottom: 2px solid #000000;

            .link {
                color: #000000;
                font-family: 'Larsseit';
                font-size: 1.5rem;
                transition: color 0.2s ease;
            }

            .bi-arrow-up-short {
                font-size: 2rem;
                margin-right: -7px;
                transform: rotate(45deg) translateY(-2px);
                transition: color 0.2s ease;
            }

            &:hover {
                .link {
                    color: #a8a8a8;
                }

                .bi-arrow-up-short {
                    color: #a8a8a8;
                }
            }

        }
    }

    .image-cover {
        padding: 0;
        width: 100%;
        height: 830px;
        background-color: #898989;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .service-explanation-wrapper {
        color: #0E0E01;
        max-width: 670px;

        .title {
            font-family: 'Sohne-500';
            font-size: 2.25rem;
            margin: 77px 0 43px;
        }

        .explanation {
            font-family: 'Sohne';
            font-size: 1.5rem;
            margin-bottom: 100px;
        }
    }
}

.capabilities-container {
    .header-title {
        margin: 77px 0 77px 105px;
    }

    .benefit-detail-container {
        max-width: 593px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin: 0 0 77px 105px;

        .icon-cover {
            width: 60px;
            height: auto;
            margin-bottom: 26px;
        }

        .description-cover {
            .process-title {
                color: #0E0E01;
                font-family: Larsseit-500;
                font-size: 1.5rem;
                padding-bottom: 12px;
                margin-bottom: 57.97px;
                border-bottom: 2px solid #0E0E01;
            }

            .separator {
                width: 100%;
                height: 2px;
                background-color: #0E0E01;
            }

            .process-description {
                color: #0E0E01;
                font-family: Sohne;
                font-size: 1.5rem;
                margin: 0;
            }
        }
    }
}



.technologies-container {
    padding-bottom: 166.86px;
    border-bottom: 2px solid #000000;

    .header-wrapper {
        h1 {
            margin: 77px 0 77px 105px;
        }

        .sub-header {
            margin: 0 0 83px 105px;
        }
    }

    .logo-container {
        width: 100%;
        height: auto;
        padding: 0 0 0 105px;
        margin: 0;

        .row {
            width: 100%;
            row-gap: 75px;
        }

        .col {
            justify-content: center;
            align-items: center;

            img {
                width: auto;
                max-height: 40px;
                object-fit: contain;
            }
        }
    }

}

.selected-projects-container {
    h1 {
        margin: 77px 0 77px 105px;
    }

    .projects-wrapper {}
}

.footer-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 53px;
    border-bottom: 2px solid #0e0e01;
}