.testimonial-container {
    display: flex;
    justify-content: space-between;
}

.left-container {
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 0 60px;

    .quotation {
        width: 200px;
        height: 380px;
        margin: 132px 0 0 -12.41px;
        color: #000000;
        font-family: 'Sohne' !important;
        font-size: 25rem;

    }

    .testimonial {
        text-align: left;
        font-family: 'Sohne' !important;
        font-size: 2rem;
        padding-right: 112.58px;
        margin-bottom: 129.78px;
        color: #000000;
    }

    .name-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .bar {
            width: 50px;
            height: 2px;
            background-color: #000000;
        }

        p {
            font-family: 'Larsseit' !important;
            font-size: 2.25rem;
            margin: 0 0 0 20px;
            color: #000000;
        }

    }
}

.right-container {
    width: 55%;

    h1 {
        margin: 81.9px 0 98.5px;
        height: 92px;
    }
}


.footer-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 144.3px;

    .footer-button {
        display: flex;
        justify-content: start;
        align-items: center;
        color: #0e0e01;
        padding: 0;
        margin: 0 9px 1.7px 120px;
        border: none;
        background-color: transparent;
        font-family: 'Sohne-500' !important;
        font-size: 1.75rem;

        i {
            font-size: 2rem;
            margin-left: 0.5px;
            padding-top: 5px;
            transition: transform 0.1s ease;
            position: relative;
        }

        &:hover {
            color: #a8a8a8;
        }

        &:hover .bi-arrow-right-short {
            color: #a8a8a8;
        }
    }
}

.separator {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #0e0e01;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .testimonial-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
    }

    .left-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 0 0 20px;

        .quotation {
            width: 100px;
            height: 150px;
            margin: -30px 0 20px -8px;
            color: #000000;
            font-family: 'Sohne' !important;
            font-size: 15rem;

        }

        .testimonial {
            text-align: left;
            font-family: 'Sohne' !important;
            font-size: 1.5rem;
            padding-right: 20px;
            margin-bottom: 10px;
            color: #000000;
        }

        .name-wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .bar {
                width: 30px;
                height: 2px;
                background-color: #000000;
            }

            p {
                font-family: 'Larsseit' !important;
                font-size: 1.25rem;
                margin: 0 0 0 20px;
                color: #000000;
            }

        }
    }

    .right-container {
        width: 100%;

        h1 {
            margin: 90px 15px 50px 15px;
            height: auto;
        }
    }

    .ampersand {
        font-family: 'Larsseit' !important;
        font-size: 1.75rem;
    }

    .sort-button-container {
        display: none;
    }

    .separator {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #0e0e01;
        margin: 0;
    }

    .footer-button-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .footer-button {
            display: flex;
            justify-content: start;
            align-items: center;
            color: #0e0e01;
            padding: 0;
            margin: 0 9px 1.7px 120px;
            border: none;
            background-color: transparent;
            font-family: 'Sohne-500' !important;
            font-size: 1.5rem;

            i {
                font-size: 2rem;
                margin-left: 0.5px;
                padding-top: 5px;
                transition: transform 0.1s ease;
            }

            &:hover {
                color: #a8a8a8;
            }

            &:hover .bi-arrow-right-short {
                color: #a8a8a8;
            }
        }
    }
}