<div class="article-page-container container-fluid">
    <div class="row row-cols-sm-3 row-cols-md-3 custom-gutter" *ngIf="visibleProjects.length > 0; else noProjects">
        <div class="col" *ngFor="let project of visibleProjects" (mouseenter)="onMouseEnterTitle(project.documentId)"
            (mouseleave)="onMouseLeaveTitle()">
            <!-- Image -->
            <div class="image-wrapper" (click)="navigateToProject(project.documentId)"
                (keydown)="handleKeydown($event, project.documentId)">
                <img [src]="project.thumbnail_image.url" alt="project.author">
            </div>
            <div class="information-container">
                <!-- Title -->
                <div class="title-wrapper" (click)="navigateToProject(project.documentId)"
                    (keydown)="handleKeydown($event, project.documentId)">
                    <p class="title" *ngIf="!isHovered(project.documentId)">{{ project.project_title }}</p>
                    <p class="content" *ngIf="isHovered(project.documentId) && truncatedTexts"
                        [innerHTML]="truncatedTexts[project.documentId]">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #noProjects>
    <p class="no-projects-message">No Projects available.</p>
</ng-template>