.project-card-container {
    width: 100%;
    padding: 15px;
}

.image-wrapper {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #f2f2f2 0%, #f2f2f2 30%, #d9d9d9 45%, #d9d9d9 50%, #f2f2f2 70%, #f2f2f2 100%);
    background-size: 400%;
    animation: skeleton 2s linear infinite;
}

.content-container {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: row;
    margin: 75px 0 0 0;

    .content-left {
        width: 30%;
        height: 300px;
        background-image: linear-gradient(to right, #f2f2f2 0%, #f2f2f2 30%, #d9d9d9 45%, #d9d9d9 50%, #f2f2f2 70%, #f2f2f2 100%);
        background-size: 400%;
        animation: skeleton 2s linear infinite;
        margin-right: 30px;
    }

    .content-right {
        width: 70%;
        height: 1000px;
        background-image: linear-gradient(to right, #f2f2f2 0%, #f2f2f2 30%, #d9d9d9 45%, #d9d9d9 50%, #f2f2f2 70%, #f2f2f2 100%);
        background-size: 400%;
        animation: skeleton 2s linear infinite;
    }
}

@keyframes skeleton {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}