<div class="info-container">
    <!-- Dropdown menu trigger -->
    <button class="select-trigger" (click)="toggleMenu()" #menuTrigger>
        <p class="country-name" [ngClass]="{'visible': isMenuOpen}">{{
            offices[selectedOfficeIndex].translatedCountryName }}</p>
        <i class="bi bi-chevron-down" [ngClass]="{'invisible': isMenuOpen}"></i>
    </button>

    <!-- Office information + Dropdown menu inside the same wrapper -->
    <div class="info-wrapper">
        <!-- Show Email & Phone when Menu is Closed -->
        <ng-container *ngIf="!isMenuOpen">
            <p class="office-email">{{ offices[selectedOfficeIndex].email }}</p>
            <p class="office-phone">{{ offices[selectedOfficeIndex].phone }}</p>
        </ng-container>

        <!-- Show Dropdown Menu when Menu is Open -->
        <ng-container *ngIf="isMenuOpen">
            <div class="dropdown-menu" #menuDropdown>
                <ng-container *ngFor="let office of offices; let i = index">
                    <button *ngIf="selectedOfficeIndex !== i" class="dropdown-menu-item" (click)="onOfficeSelected(i)">
                        {{ office.translatedCountryName }}
                    </button>
                </ng-container>
                <i class="bi bi-x close-icon" (click)="closeMenu()" (keydown)="onCloseOptionKeydown($event)"></i>
            </div>
        </ng-container>
    </div>
</div>