h1 {
    margin: 77px 0 85px 130px;
}

.article-page-container {
    width: 100%;
    padding: 20px 15px 0 15px;
    margin: 0 0 105px 0;

    .custom-gutter {
        padding: 0;
        margin: 0;
        row-gap: 15px;
    }

    .col {
        padding: 0 15px 0 0;
        margin: 0;
        cursor: pointer;

        &:nth-child(3n) {
            padding-right: 0;
        }

        .image-wrapper {
            height: 400px;
            overflow: hidden;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.1s ease;
            }
        }

        .title-wrapper {
            width: 100%;
            // height: 62px;
            overflow: hidden;
            position: relative;
            margin-top: 8px;
            z-index: 0;
            cursor: pointer;

            // &::after {
            //     display: block;
            //     content: '';
            //     position: absolute;
            //     bottom: 0;
            //     left: 0;
            //     width: 100%;
            //     height: 31px;
            //     background-color: #ffffff;
            //     transition: height 0.1s ease;
            // }

            .title {
                margin: 0;
                font-family: 'Sohne' !important;
                font-size: 1.5rem;
                color: #0e0e01;
                overflow: hidden;
            }
        }

        .content {
            width: 100%;
            height: 54px;
            margin: 25px 0 0;
            margin: 25px 0 38px;
            font-family: 'Larsseit' !important;
            font-size: 1.25rem;
            color: #0e0e01;
            overflow: hidden;
        }

        &:hover {
            .title-wrapper::after {
                height: 0;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    h1 {
        margin: 50px 15px 85px;
    }

    .article-page-container {
        width: 100%;
        padding: 20px 15px 0 15px;
        margin: 0 0 105px 0;

        .custom-gutter {
            padding: 0;
            margin: 0;
            row-gap: 15px;
        }

        .col {
            padding: 0 15px 0 0;
            margin: 0;
            cursor: pointer;

            &:nth-child(2n) {
                padding-right: 0;
            }

            &:nth-child(3n) {
                padding-right: 15px;
            }

            .image-wrapper {
                height: 150px;
                overflow: hidden;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform 0.1s ease;
                }
            }

            .title-wrapper {
                width: 100%;
                // height: 62px;
                overflow: hidden;
                position: relative;
                margin-top: 8px;
                z-index: 0;
                cursor: pointer;

                // &::after {
                //     display: block;
                //     content: '';
                //     position: absolute;
                //     bottom: 0;
                //     left: 0;
                //     width: 100%;
                //     height: 31px;
                //     background-color: #ffffff;
                //     transition: height 0.1s ease;
                // }

                .title {
                    margin: 0;
                    font-family: 'Sohne' !important;
                    font-size: 1rem;
                    color: #0e0e01;
                    overflow: hidden;
                }
            }

            .content {
                width: 100%;
                height: 54px;
                margin: 25px 0 0;
                margin: 25px 0 38px;
                font-family: 'Larsseit' !important;
                font-size: 1rem;
                color: #0e0e01;
                overflow: hidden;
            }

            &:hover {
                .title-wrapper::after {
                    height: 0;
                }
            }
        }
    }
}