.link-container {
    border-top: 2px solid #414042;
    padding: 50px 60px 200px;

    .section-title {
        font-family: 'Sohne-500';
        font-size: 1.5rem;
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            cursor: pointer;
            font-family: 'Larsseit';
            font-size: 1.125rem;
            margin-bottom: 10px;
            transition: all 0.1s ease;

            &:hover {
                color: #7a7a7a;
            }
        }
    }

    .separator:first-child {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: linear-gradient(to right, #414042 0%, #414042 50%, transparent 50%, transparent 100%);
        }

        padding-top: 15px;
    }
}

@media screen and (max-width: 768px) {
    .link-container {
        border-top: 2px solid #414042;
        padding: 50px 15px 100px;

        .section-title {
            font-family: 'Sohne-500';
            font-size: 1rem;
        }

        ul {
            list-style-type: none;
            padding: 0;

            li {
                cursor: pointer;
                font-family: 'Larsseit';
                font-size: 0.8rem;
                margin-bottom: 10px;
                transition: all 0.1s ease;

                &:hover {
                    color: #7a7a7a;
                }
            }
        }

        .separator:first-child {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background: linear-gradient(to right, #414042 0%, #414042 50%, transparent 50%, transparent 100%);
            }

            padding-top: 15px;
        }
    }

    .link-container .row {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}