.career-container {
    overflow-x: hidden;
}

.header-container {
    width: 100%;
    display: flex;

    justify-content: start;
    align-items: start;
    padding: 77px 65px 136px;

    .back-button-wrapper {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .description-wrapper {
        max-width: 806px;
        margin-right: 180px;
        display: flex;
        flex-direction: column;
        color: #0E0E01;
        font-family: 'Sohne';

        .county {
            font-size: 1.75rem;
            margin-bottom: 88px;
        }

        .job-description {
            font-size: 1.5rem;
        }
    }

    .location-wrapper {
        display: flex;
        text-align: right;
        color: #0E0E01;
        font-family: 'Sohne';
        font-size: 1.5rem;
    }
}

.image-container {
    width: 100%;
    height: 740px;
    padding: 0 65px;

    .image {
        width: 100%;
        height: 100%;
        background-color: #898989;
    }
}

.offer-container {
    padding: 115px 65px 130px;
    border-bottom: 2px solid #0E0E01;

    .offer-wrapper {
        width: 573px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin: 115px 156px 0 0;
        border-bottom: #0E0E01;

        img {
            width: 60px;
            height: auto;
        }

        .title-wrapper {
            width: 100%;
            // height: 33px;
            padding: 0 0 12px;
            margin: 26px 0 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid #0E0E01;
            cursor: pointer;

            h2 {
                margin: 0;
            }

            i {
                font-size: 2rem;
                transition: display 0.2s ease;
                transform-origin: center;
                transform: translateY(2px);
                cursor: pointer;
            }

            .bi-x::before {
                font-size: 2.5rem;
            }
        }

        p {
            width: 100%;
            color: #0E0E01;
            font-family: 'Sohne';
            font-size: 1.5rem;
            margin: 50px 0;
            display: none;
            height: 0;
            overflow: hidden;
            transition: height 0.2s ease;
            padding: 0 75px 86px 0;
            border-bottom: 2px solid #0E0E01;
        }

        &.visible {
            p {
                display: block;
                height: auto;
            }
        }

    }
}

.form-container {
    padding: 77px 65px 0;
    // margin-bottom: 481px;
    border-bottom: 1.5px solid #0e0e01;

    h1 {
        margin-bottom: 49px;
    }

    p {
        color: #0E0E01;
        font-family: 'Sohne';
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
    }
}