<div class='w-100 m-0 career-container'>
    <!-- Header -->
    <section class="header-container">
        <app-back-to-career-button></app-back-to-career-button>
        <div class="description-wrapper">
            <h1 class="title">{{ career?.job_title }}</h1>
            <p class="county">{{ getCountry }}</p>
            <div class="job-description" [innerHTML]="jobDescriptionHtml"></div>
        </div>
        <div class="location-wrapper">
            <span>{{ career?.job_type }}&nbsp;&nbsp;&middot;&nbsp;&nbsp;{{ career?.location_type }}</span>
        </div>
    </section>
    <div class="image-container">
        <!-- <img src="" alt=""> -->
        <div class="image"></div>
    </div>
    <section class="offer-container">
        <h1>What we offer</h1>
        <div class="row row-cols-1 row-cols-md-2">
            <div *ngFor="let offer of offers; let i = index" class="offer-wrapper"
                [ngClass]="{ visible: i === activeOfferIndex }" (click)="toggleDetail(i)"
                (keydown.enter)="toggleDetail(i)">
                <img src="../../../assets/images/connection.svg" alt="connection icon">
                <div class="title-wrapper">
                    <h2>{{ offer.title }}</h2>
                    <i class="bi" [ngClass]="{'bi-chevron-down': !offer.visible, 'bi-x': offer.visible}"></i>
                </div>
                <p class="offer-description">{{ offer.description }}</p>
            </div>
        </div>
    </section>
    <section class="form-container">
        <h1>Apply for this position</h1>
        <p>Upload your CV & cover letter using the form below.</p>
        <p>Please use either .pdf, .doc. or .docx files where possible.</p>
        <app-apply-job-form></app-apply-job-form>
    </section>
</div>