<div *ngIf="articles" class="article-card-container container-fluid">
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 custom-gutter" *ngIf="articles.length > 0">
        <div class="col" *ngFor="let article of articles" (click)="navigateToArticle(article.documentId)"
            (keydown)="onKeyDown($event, article.documentId)" (mouseenter)="onMouseEnterTitle(article.documentId)"
            (mouseleave)="onMouseLeaveTitle()">
            <!-- Image -->
            <div class="image-wrapper">
                <img [src]="article.thumbnail_image.url" alt="article.author" loading="lazy" (load)="onImageLoad()">
            </div>
            <!-- Title -->
            <div class="title-wrapper">
                <p class="title" *ngIf="!isHovered(article.documentId)">{{ article.title }}</p>
                <p class="content" *ngIf="isHovered(article.documentId) && truncatedText" [innerHTML]="truncatedText">
                </p>
            </div>
        </div>
    </div>
</div>