<form [formGroup]="contactForm" class="form-container" (ngSubmit)="sendMessage()" aria-labelledby="form-title">
    <div class="form-wrapper">
        <div class="input-wrapper">
            <label id="full-name-label" for="full-name">Full Name*</label>
            <input id="full-name" type="text" formControlName="full_name"
                placeholder="{{ 'contact.form.name' | translate }}*" aria-required="true"
                aria-labelledby="full-name-label"
                [ngClass]="{ 'input-error': contactForm.get('full_name')?.invalid && contactForm.get('full_name')?.touched }">
            <div *ngIf="contactForm.get('full_name')?.invalid && contactForm.get('full_name')?.touched"
                class="error-message">
                {{ 'contact.form.input-error.name' | translate }}
            </div>
        </div>
        <div class="input-wrapper">
            <label id="email-label" for="email">Email*</label>
            <input id="email" type="email" formControlName="email" placeholder="{{ 'contact.form.email' | translate }}*"
                aria-required="true" aria-labelledby="email-label"
                [ngClass]="{ 'input-error': contactForm.get('email')?.invalid && contactForm.get('email')?.touched }">
            <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="error-message">
                {{ 'contact.form.input-error.email' | translate }}
            </div>
        </div>
    </div>
    <div class="form-wrapper">
        <!-- Route -->
        <div class="input-wrapper route-wrapper">
            <label id="route-label" for="route">Route</label>
            <button class="dropdown-button" type="button" (click)="toggleDropdown()">
                {{ selectedOption || 'How did you hear about this opportunity with Perpetua?*' }}
                <i class="bi bi-chevron-down"></i>
            </button>
            <ul *ngIf="dropdownOpen" class="dropdown-list">
                <li *ngFor="let option of routeOptions" (click)="selectOption(option)"
                    (keydown)="onToggleOptionKeyDown(option, $event)">{{ option.label }}</li>
            </ul>
            <div *ngIf="contactForm.get('route')?.invalid && contactForm.get('route')?.touched" class="error-message">
                {{ 'contact.form.input-error.route' | translate }}
            </div>
        </div>
        <!-- Phone -->
        <div class="input-wrapper phone-wrapper">
            <div class="image-wrapper">
                <img [src]="selectedFlagUrl" alt="'Flag of ' + selectedCountryName" />
            </div>
            <label id="country-code-label" for="country-code">Country Code</label>
            <input id="country-code" class="country-code" type="text" formControlName="country_code" placeholder="+"
                (input)="onCountryCodeInput($event)" aria-labelledby="country-code-label">
            <label id="phone-label" for="phone">Phone</label>
            <input id="phone" type="tel" formControlName="phone" placeholder="{{ 'contact.form.phone' | translate }}"
                aria-labelledby="phone-label">
        </div>
    </div>
    <div class="form-wrapper">
        <!-- Portfolio -->
        <div class="input-wrapper">
            <label id="portfolio-label" for="portfolio">Portfolio link*</label>
            <input id="portfolio" type="portfolio" formControlName="portfolio" placeholder="Portfolio link*"
                aria-required="true" aria-labelledby="portfolio-label"
                [ngClass]="{ 'input-error': contactForm.get('portfolio')?.invalid && contactForm.get('portfolio')?.touched }">
            <div *ngIf="contactForm.get('portfolio')?.invalid && contactForm.get('portfolio')?.touched"
                class="error-message">
                Please enter your portfolio link.
            </div>
        </div>
        <!-- File upload -->
        <div class="input-wrapper file-upload-wrapper">
            <label id="file-label" for="file">Upload file</label>
            <input id="file" type="file" accept=".pdf, .doc, .docx" formControlName="file" placeholder=""
                aria-labelledby="file-label" (change)="onFileSelected($event)">
            <button type="button" class="upload-file-button" (click)="fileUploadInput.nativeElement.click()">
                Upload your documents
                <i class="bi bi-arrow-right-short"></i>
            </button>
            <span>{{ fileName ? fileName : '' }}</span>
        </div>

    </div>
    <div class="submit-button-wrapper">
        <button type="submit" class="submit-button" [disabled]="contactForm.invalid">
            {{ formSubmitted ? 'contact.form.sending' : 'contact.form.send' | translate }}
            <i class="bi bi-arrow-right-short"></i>
        </button>
    </div>

    <div class="success-msg">{{ 'contact.form.sent-success' | translate }}</div>
    <div class="error-msg">{{ 'contact.form.sent-error' | translate }}</div>
</form>