.project-card-container {
    width: 100%;
    padding: 20px 0;
    margin: 0 0 105px 0;

    .custom-gutter {
        padding: 0;
        margin: 0;
        row-gap: 15px;
    }

    .col {
        padding: 0 15px 0 0;
        margin: 0;
        cursor: pointer;

        &:first-child {
            padding-left: 15px;
        }

        &:nth-child(3n + 1) {
            padding-left: 15px;
        }

        .image-wrapper {
            width: 100%;
            height: 400px;
            text-align: center;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                transition: transform 0.1s ease;
            }
        }

        .title-wrapper {
            width: 100%;
            height: 62px;
            overflow: hidden;
            position: relative;
            margin-top: 8px;
            z-index: 0;

            // &::after {
            //     display: block;
            //     content: '';
            //     position: absolute;
            //     bottom: 0;
            //     left: 0;
            //     width: 100%;
            //     height: 31px;
            //     background-color: #ffffff;
            //     transition: height 0.1s ease;
            // }

            .title {
                margin: 0;
                font-family: 'Sohne' !important;
                font-size: 1.5rem;
                color: #0e0e01;
            }

            .content {
                width: 100%;
                height: 62px;
                // margin: 25px 0 38px;
                margin: 0;
                font-family: 'Larsseit' !important;
                font-size: 1.5rem;
                color: #0e0e01;
                overflow: hidden;
            }
        }

        &:hover ::after {
            height: 0;
        }
    }
}

.industry-card-container {
    width: 100%;
    padding: 0;
    margin: 0;


    .industry-custom-gutter {
        padding: 0;
        margin: 0;
    }


    .industry-col {
        width: 100%;
        // padding: 0 15px 0 0;
        cursor: pointer;

        // &:nth-child(3n),
        // &:last-child {
        //     padding-right: 0 !important;
        // }

        .industry-card-container {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            text-decoration: none;
            font-family: 'Sohne' !important;
            font-size: 1.5rem;
            color: #0e0e01;
        }

        .industry-image-wrapper {
            width: 100%;
            height: 400px;
            text-align: center;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                transition: transform 0.1s ease;
            }
        }

        .industry-title-wrapper {
            width: 100%;
            height: 62px;
            overflow: hidden;
            position: relative;
            margin-top: 8px;
            z-index: 0;

            &::after {
                display: block;
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 31px;
                background-color: #ffffff;
                transition: height 0.1s ease;
            }

            .industry-title {
                margin: 0;
                font-family: 'Sohne' !important;
                font-size: 1.5rem;
                color: #0e0e01;
            }
        }

        &:hover ::after {
            height: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .project-card-container {
        width: 100%;
        padding: 15px;
        margin: 0 auto 40px auto;

        .custom-gutter {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .col {
            width: 100%;
            padding: 0;
            padding-left: 0 !important;
            padding-right: 0 !important;
            margin: 0;
            cursor: pointer;

            // &:nth-child(2n) {
            //     padding-right: 0;
            // }

            // &:last-child {
            //     padding-right: 0px;
            // }

            .image-wrapper {
                width: 100%;
                height: 150px;
                text-align: center;
                position: relative;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    transition: transform 0.1s ease;
                }
            }

            .title-wrapper {
                width: 100%;
                height: 62px;
                overflow: hidden;
                position: relative;
                margin-top: 8px;
                z-index: 0;

                .title {
                    margin: 0;
                    font-family: 'Sohne' !important;
                    font-size: 1rem;
                    color: #0e0e01;
                }
            }
        }
    }

    .industry-card-container {
        width: 100%;
        padding: 0;
        margin: 0;

        .industry-custom-gutter {
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
        }

        .industry-col {
            padding: 0;
            cursor: pointer;

            .card-container {
                text-decoration: none;
            }

            .industry-image-wrapper {
                width: 100%;
                height: 150px;
                text-align: center;
                position: relative;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    transition: transform 0.1s ease;
                }
            }

            .industry-title-wrapper {
                width: 100%;
                height: auto;
                overflow: hidden;
                position: relative;
                margin-top: 8px;
                z-index: 0;

                &::after {
                    display: none;
                }

                .industry-title,
                .industry-p {
                    margin: 0;
                    font-family: 'Sohne' !important;
                    font-size: 1rem;
                    color: #0e0e01;
                }
            }
        }
    }
}