<div *ngIf="!showTitleAsIndustry" class="project-card-container container-fluid">
    <div class="row row-cols-2 row-cols-md-3 custom-gutter">
        <div class="col" *ngFor="let project of projects" (click)="navigateToProject(project.documentId)"
            (keydown)="onKeyDown($event, project.documentId)" (mouseenter)="onMouseEnterTitle(project.documentId)"
            (mouseleave)="onMouseLeaveTitle()">
            <!-- Image -->
            <div class="image-wrapper">
                <img [src]="project.thumbnail_image.url" alt="project.project_title" loading="lazy"
                    (load)="onImageLoad()" />
            </div>
            <!-- Title -->
            <div class="title-wrapper">
                <p class="title" *ngIf="!isHovered(project.documentId)">{{ project.project_title }}</p>
                <p class="content" *ngIf="isHovered(project.documentId) && truncatedText" [innerHTML]="truncatedText">
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Industry card container -->
<div *ngIf="showTitleAsIndustry" class="industry-card-container">
    <div class="custom-gutter">
        <div class="col" *ngFor="let project of projects">
            <a class="card-container" (click)="onIndustryCardClick(project.industry)" tabindex="0">
                <div class="image-wrapper">
                    <img [src]="project.thumbnail_image.url" alt="{{ project.project_title }}" loading="lazy" />
                </div>
                <div class="title-wrapper title">
                    <p>{{ project.industry | titlecase }}</p>
                </div>
            </a>
        </div>
    </div>
</div>